# QUESTION 1:

In [ ]:
a=0
def b():
    global a
    a=c(a)

def c(a):
    return a + 2

b()              # Following this assertion, (a) changes to 2
b()              # Following this, (a) value increases by 2 and becomes 4
b()              # Following this, (a) value rises by 2 to reach 6.
a                # Value (a), which is 6 is printed.

When the final expression (a) is executed, value 6 is shown.

# QUESTION 2:

In [27]:
def file_length(file_name):
    try:
        file = open(file_name)
        contents = file.read()
        file.close()
        print(len(contents))
    except:
        print("File",file_name,"not found"    #If the interpreter cannot find the file, this line throws an exception.
    
    
file_length('idterm.py')

File idterm.py not found

# QUESTION 3:

In [2]:
class Marsupial:
    def __init__(self):
        self.pouch = []    
    def put_in_pouch(self, val):        
        self.pouch.append(val)    
    def pouch_contents(self):        
        print(self.pouch)
        
m = Marsupial()  
m.put_in_pouch("doll")    
m.put_in_pouch("firetruck")    
m.put_in_pouch("kitten")    
m.pouch_contents()

    
class Kangaroo(Marsupial):
    def __init__(self, x, y):        
        super().__init__()        
        self.coordx = x        
        self.coordy = y    
    def jump(self, dx, dy):        
        self.coordx = self.coordx + dx        
        self.coordy = self.coordy + dy    
    def __str__(self):       
        print("I am a Kangaroo located at coordinates (%d, %d)" %(self.coordx, self.coordy))
        return " "
k = Kangaroo(0,0)
print(k)
k.put_in_pouch("doll")
k.put_in_pouch("firetruck")
k.put_in_pouch("kitten")
k.pouch_contents()
k.jump(1, 0)
k.jump(1, 0)
k.jump(1, 0)
print(k)

['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (0, 0)

['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (3, 0)

# QUESTION 4:

In [3]:
def collatz(x):
    lst=[] #empty list to store sequence
    
    while (x!=1) :
        lst.append(x) 
       
        if (x%2==0) :    #if n is even, just divide with 2
            x=x//2
        else:
            x=(3*x)+1    #if n is odd,multiply by 3 and add 1
    lst.append(1)  #print 1 in the end   
    length=len(lst)

   
    for i in range(0,length):
        print(lst[i])

collatz(10)

10
5
16
8
4
2
1

# QUESTION 5:

In [9]:
def binary(number):
    
    if number == 0:
        return 0
                  
    else:
        return (number % 2 + 10 *binary(int(number // 2)))       #recursive function to give the binary number
    
  
       
        

binary(0)

0

In [10]:
binary(1)

1

In [11]:
binary(3)

11

In [12]:
binary(9)

1001

# QUESTION 6:

In [28]:
from html.parser import HTMLParser

class HeadingParser(HTMLParser):
    h1Found = False
    h2Found = False
    def handle_starttag(self, tag, attrs):
        if tag == "h1":
            self.h1Found = True
        elif tag == "h2":
            self.h2Found = True
    def handle_data(self, data):
        if self.h1Found:
            print(data)
        if self.h2Found:
            print('\t'*1 + data)
    def handle_endtag(self, tag):
        if tag =="h1":
            self.h1Found = False
        elif tag == "h2":
            self.h2Found = False

hp = HeadingParser()
file = open('w3c.html')
html = file.read()
file.close()
hp.feed(html)

W3C Mission
	Principles

# QUESTION 7:

In [ ]:
Not required

# QUESTION 8:

In [8]:
import sqlite3

In [9]:
con=sqlite3.connect('GlobalData.db')
cur=con.cursor()

In [10]:
cur.execute('create table World(City text,Country text,Season text,Temprature FLOAT,Rainfall FLOAT );');

In [11]:
cur.execute('INSERT INTO World(City,Country,Season,Temprature,Rainfall) VALUES("Mumbai","India","Winter",24.8,5.9);')
cur.execute('INSERT INTO World(City,Country,Season,Temprature,Rainfall) VALUES("Mumbai","India","Spring",28.4,16.2);')
cur.execute('INSERT INTO World(City,Country,Season,Temprature,Rainfall) VALUES("Mumbai","India","Summer",27.9,1549.4);')
cur.execute('INSERT INTO World(City,Country,Season,Temprature,Rainfall) VALUES("Mumbai","India","Fall",27.6,346.0);')

cur.execute('INSERT INTO World(City,Country,Season,Temprature,Rainfall) VALUES("London","United Kingdom","Winter",4.2,207.7);')
cur.execute('INSERT INTO World(City,Country,Season,Temprature,Rainfall) VALUES("London","United Kingdom","Spring",8.3,169.6);')
cur.execute('INSERT INTO World(City,Country,Season,Temprature,Rainfall) VALUES("London","United Kingdom","Summer",15.7,157.0);')
cur.execute('INSERT INTO World(City,Country,Season,Temprature,Rainfall) VALUES("London","United Kingdom","Fall",10.4,218.5);')

cur.execute('INSERT INTO World(City,Country,Season,Temprature,Rainfall) VALUES("Cairo","Egypt","Winter",13.6,16.5);')
cur.execute('INSERT INTO World(City,Country,Season,Temprature,Rainfall) VALUES("Cairo","Egypt","Spring",20.7,6.5);')
cur.execute('INSERT INTO World(City,Country,Season,Temprature,Rainfall) VALUES("Cairo","Egypt","Summer",27.7,0.1);')
cur.execute('INSERT INTO World(City,Country,Season,Temprature,Rainfall) VALUES("Cairo","Egypt","Fall",22.2,4.5);')

# 8a) Temperature data

In [29]:
for row in cur.execute('SELECT Temprature FROM World;'):
    print(row)

(24.8,)
(28.4,)
(27.9,)
(27.6,)
(4.2,)
(8.3,)
(15.7,)
(10.4,)
(13.6,)
(20.7,)
(27.7,)
(22.2,)

# 8b) Cities without repetition

In [30]:
for row in cur.execute('SELECT DISTINCT City FROM World;'):
    print(row)

('Mumbai',)
('London',)
('Cairo',)

# 8c) Records for India

In [31]:
for row in cur.execute('SELECT * FROM World WHERE Country = "India";'):
    print(row)

('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)

# 8d) Fall records

In [32]:
for row in cur.execute('SELECT * FROM World WHERE Season = "Fall";'):
    print(row)

('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)

# 8e) City, country, season with average rainfall between 200 and 400mm

In [33]:
for row in cur.execute('SELECT City,Country,Season FROM World WHERE Rainfall BETWEEN 200 AND 400;'):
    print(row)

('Mumbai', 'India', 'Fall')
('London', 'United Kingdom', 'Winter')
('London', 'United Kingdom', 'Fall')

# 8f) City and country - Average fall temperature is 20 degrees

In [34]:
for row in cur.execute('SELECT City,Country FROM World WHERE Season = "Fall" AND Temprature > 20 ORDER BY Temprature;'):
    print(row)

('Cairo', 'Egypt')
('Mumbai', 'India')

# 8g) Annual rainfall for Cairo

In [35]:
for row in cur.execute('SELECT SUM(Rainfall) FROM World WHERE City = "Cairo";'):
    print(row)

(27.6,)

# 8h) Rainfall for each season

In [36]:
for row in cur.execute('SELECT Season, SUM(Rainfall) FROM World GROUP BY Season;'):
    print(row)

('Fall', 569.0)
('Spring', 192.29999999999998)
('Summer', 1706.5)
('Winter', 230.1)

# QUESTION 9:

In [37]:
words=["The","quick","brown","fox","jumps","over","the","lazy","dog"]
#a Convert words into upper case
Uppercase=[text.upper() for text in words]
print(Uppercase)
print("\n")

#bConvert words into lower case
Lowercase=[text.lower()for text in words]
print(Lowercase)
print("\n")

#c the list of length of words in list words
lengthofw=[]
for a in words:lengthofw.append(len(a))
print(lengthofw)
print("\n")

#d

initializeCounterValue=0
singleListArray=[]
for j in words:
    singleListArray.append(Uppercase[initializeCounterValue])
    singleListArray.append(Lowercase[initializeCounterValue])
    singleListArray.append(lengthofw[initializeCounterValue])
    initializeCounterValue=initializeCounterValue+1
    
delimiterVariableLimit=3
myarray=[singleListArray[additor:additor+delimiterVariableLimit] for 
additor in range(0,len(singleListArray),delimiterVariableLimit)]
print(myarray)
print("\n")

#e
def wordString(k,str):
    string=[]
    text=str.split(" ")
    for x in text:
        if len(x)>=k:
            string.append(x)
    return string
result_list=[''.join([str(c) for c in t]) for t in words]
result_string=' '.join(result_list)
charlen=4
print(wordString(charlen,result_string))

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']


['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']


[3, 5, 5, 3, 5, 4, 3, 4, 3]


[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]


['quick', 'brown', 'jumps', 'over', 'lazy']